body {
  margin: 0;
  padding: 0;
  background-color: #234c6a;
}
.hero {
  display: flex;
  background-color: #234c6a;
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titulo1,
.titulo2 {
  margin: 0;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
}
.titulo1 {
  margin-top: 100px;
}
.nome {
  color: white;
  font-family: "Lora", serif;
  margin: 5px;
  font-size: 6rem;
}
.computador {
  display: flex;
  margin-top: 10px;
  height: 250px;
}

.sobre {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #234c6a;
  height: 100vh;
}
.eu {
  height: 300px;
  border-radius: 50%;
}
.descricao {
  width: 70%;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}
.pergunta {
  color: #ffd700;
  font-family: "Lora", serif;
  font-size: 6rem;
  margin: 0;
}

.texto {
  width: 70%;
}
.habilidades{
  background-color: #d2c1b6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hab1{
  background-color: #234c6a;
  width: 15%;
  height: 35%;
  border-radius: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.hab2{
  background-color: #234c6a;
  width: 15%;
  height: 40%;
  border-radius: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.html{
  margin-top: 20px;

}
.js{
  margin-top: 20px;
}
.txthtml{
  font-family: "Inter", sans-serif;
  color: white;
  width: 85%;
  font-size: 1.2rem;
}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.titulo3{
  font-family: "Lora", serif;
  font-size: 4rem;
  margin-bottom: 0px;
}
.linha{
  height: 200px;
  margin-left: 100px;
  margin-right: 100px;
}
.final{
  background-color: #234c6a;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.logos{
  height: 70px;
}
.redes{
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
.pfinal{
  font-family: "Lora", serif;
  color: #ffd700;
  font-size: 4rem;
  margin: 0;
}
.txtfinal{
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  margin-top: 0;
  color: #ffffff;
}